* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif KR', serif;
}
a { color: inherit; text-decoration: none; }
a:hover { color: inherit; text-decoration: none; }
body {
    overflow-y: overlay;
}

#nav-upper {
    height: 42px;
    background: #6388c3;
}
#nav-upper div {
    margin-top: 10px;
}

#nav-lower {
    padding-left: 15%;
    padding-right: 15%;
    height: 90px;
    border-bottom: 1px solid #ededed;
    background: white;
    /*background: coral;*/
}

/*
    슬라이드 관련
 */
#carou {
    height: 570px;
}

.carou-slide {
    text-align: center;
    font-family: 'Noto Sans KR', serif;
}

.carou-title {
    margin-top: 140px;
    padding: 10px;
    font-size: 57px;
    text-align: center;
    color: white;
    cursor: default;
}

.carou-content {
    margin-top: 30px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: white;
    cursor: default;
}

.carou-btn {
    margin-top: 1em;
    text-align: center;
    margin-right: 1em; /* remove this while use*/
    margin-bottom: 1em; /* remove this while use*/
    width: 10em;
    display: inline-block;
    outline: none;
    *zoom: 1;
    text-decoration: none;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: 1px;
    vertical-align: middle;
    transition: all 0.2s ease;
    box-sizing: border-box;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    font-size: 1.5em;
    padding: 0.5625em 1.5em;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.carou-btn:hover {
    background: #ededed;
    color: #888888;
    border-color: #ffffff;
}

/*    */
#nav-logo {
    float: left;
}
/* 상단 내비게이션바 회원 관련 메뉴 */
#nav-member {
    float:right;
}
#nav-member ul {
    list-style: none;
    margin-right: 10px;
}
#nav-member li {
    font-family: 'Noto Sans KR', sans-serif;
    margin-right: 10px;
    color: white;
    float: left;
}
/* 상단 내비게이션바 검색 창 */
#nav-search {
    float:right;
    margin-right: 18%;
}

/* 하단 내비게이션바 메인 메뉴 */
#nav-menu {
    width: 70%;
    height:100%;
    /*text-align: center;*/
    /*!*background: darkcyan;*!*/
    float: left;
}

#nav-menu ul {
    display:inline-table;
    width: 70%;
    margin-right: 15%;
    height: 60%;
    list-style: none;
    margin-top: 30px;
    /*padding: 0;*/
    /*background: aquamarine;*/
}

#nav-menu li {
    font-size: 18px;
    display:inline;
    padding: 0 0 0 0;
    margin-left: 15%;
    border: 0;
    float: left;
}

#nav-menu li:first-child {
    font-size: 18px;
    display:inline;
    padding: 0 0 0 0;
    margin-left: 10%;
    border: 0;
    float: left;
}

.nav-search {
    padding-top: 0px;
    margin-top: 0px;
}
.material-icons.md-light { color: rgba(255, 255, 255, 1); }

.con {
    width:64%;
    margin-left: 18%;
    margin-right: 18%;
    min-height: 740px;
    text-align: center;
    clear: both;
}
.con > * {

}

.logo {
    margin-top: 8px;
    height: 75px;
}
.text-logo {
    margin-left: 25px;
    margin-top: 10px;
}

footer {
    clear: both;
    border-top: 1px solid #ededed;
    height: 90px;
}

article {
    /*background: darkcyan;*/
}

footer p {
    margin-top: 30px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
/* 공지사항 */
.notice-con {
    padding-top: 20px;
    width: 70%;
    margin-left: 150px;
    font-size: 36px;
    text-align: left;
}

.notice-con hr {
    margin-top: 20px;
    background: #ededed;
    margin-bottom: 0;
}

.notice-contents-wrapper {
    padding: 15px 30px 15px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 30px auto;
    display: inline-block;
    /*background: blueviolet;*/
    width: 100%;
}
.notice-contents-header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: left;
}
.notice-contents-header ul {
    width: 100%;
}

.notice-contents-header li{
    font-size: 16px;
    display: inline-block;
    text-align: right;
}
.notice-contents-header li:first-child{
    text-align: center;
    width: 90%;
    font-size: 16px;
    font-weight: bold;
}

.notice-contents-body p{
    text-align: left;
}

.notice-contents-attach {
    width: 100%;
    text-align: left;
}
.notice-content-attach ul {
    width: 100%;
}
.notice-contents-attach  li{
    font-size: 14px;
    display: inline-block;
    text-align: right;
}
.notice-contents-attach li:first-child{
    text-align: left;
    width: 10%;
    font-size: 14px;
    font-weight: bold;
}

.notice-contents-former {
    width: 100%;
    text-align: left;
}
.notice-contents-former li{
    font-size: 14px;
    display: inline-block;
    text-align: right;
}
.notice-contents-former li:first-child{
    text-align: left;
    width: 10%;
    font-size: 14px;
    font-weight: bold;
}
.notice-contents-latter {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
}
.notice-contents-latter  li{
    font-size: 14px;
    display: inline-block;
    text-align: right;
}
.notice-contents-latter li:first-child{
    text-align: left;
    width: 10%;
    font-size: 14px;
    font-weight: bold;
}

.notice-contents-footer {
    text-align: right;
}
/* notice-ceontents */
.notice-write-wrapper {
    padding: 15px 30px 15px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 30px auto;
    display: inline-block;
    font-size: 18px;
    /*background: blueviolet;*/
    width: 100%;
    text-align: right;
}

.notice-write-wrapper * {
    margin-bottom: 15px;
    font-size: 16px;
}

.notice-write-wrapper-header {
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.notice-write-attach-addr {
    text-align: left;
}
.notice-write-attach-addr * {
    display: inline-block;
    margin-bottom: 0px;
}
.notice-write-attach-addr p {
    text-align: right;
}
.notice-page-wrapper {
}

.notice-search-bar {
    width:100%;
    padding: 10px;
    height: 140px;
    clear:both;
    display: flex;
    justify-content: center;
}
.notice-search-bar > form {
    width: 100%;
    margin-left: 25%;
}
.notice-search-bar > form > div > select {
    margin-top: 14px;
    width: 10%;
    display: inline-block;
    float:left;
}

.notice-search-bar > form > div >  input {
    width: 40%;
    display: inline-block;
    float: left;
}

.notice-search-bar > form > button {
    display: inline-block;
    float:left;
    margin: 0;
    padding: 0;
    height: 33px;
    line-height: 10px;
    font-weight: lighter;
    background: #6388c3;
    color: white;
}

.notice-search-bar > form > button:hover {
    background: #01579B;
    color: #E1F5FE;
    border: #0277BD;
}
/* notice-write */
.notice-wrapper {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    /*background: blueviolet;*/
    width: 100%;
    text-align: center;
}
.notice-wrapper table {
    width: 840px;
    display: inline-block;
}

.notice-wrapper a {
    color: #000;
    text-decoration: none;
}

.mdl-data-table th {
    text-align: center;
}

.mdl-data-table td {
    text-align: center;
}

.mdl-data-table__cell--non-numeric th {
    text-align: center;
}

.mdl-data-table__cell--non-numeric td {
    text-align: center;
}

.notice-fullwidth {
    width: 90%;
}

.notice-menu-number {
    width: 10%;
}

.notice-menu-contents {
    width: 80%;
}
.notice-btn-wrapper {
    clear: both;
    width:85%;
    display: inline-block;
    text-align: right;
    padding-right: 15%;
}

.notice-btn-wrapper  a{
    width: 60px;
    height: 35px;
    display: inline-block;
}

.notice-search {
    clear: both;
    width:100%;
    display: inline-block;
    text-align: center;
}

.notice-search form{
    text-align: center;
    display: inline-block;
}

/*버튼 아웃라인*/
.btn-outlined {
    border: 2px solid #6388c3;
}
/* */


/* 로그인 */
.login-con {
    margin-top: 5px;
    width: 70%;
    margin-left: 150px;
    font-size: 36px;
    text-align: left;
}
.login-con hr {
    margin-top: 2px;
}

.login-wrapper {
    text-align: center;
}

.login-area {
    margin-top: 40px;
    width:70%;
}
.login-area > form > .form-group > input {
    width: 40%;
    display: inline-block;
}

.login-text {
    width: 10%;
    font-size: 18px;
    margin: 5px;
}

.login-btn-text {
    width: 10%;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Noto Serif KR', serif;
    color: #6388c3;
    margin: 5px;
}
.login-btn {
    width: 120px;
    height: 40px;
}

.login-textbox {
    width:40%;
}
.login-btn-area {
    text-align: right;
    margin-right: 24%;
}
.login-search-area {
    width:75%
}
.login-search-area > button {
    font-family: 'Noto Serif KR', serif;
    font-size: 18px;
    display: block;
    clear:both;
    float:right;
}
/* 회원 가입 */
.member-con {
    margin-top: 5px;
    width: 70%;
    margin-left: 150px;
    font-size: 36px;
    text-align: left;
}
.member-con hr {
    margin-top: 2px;
}
.member-wrapper {
    width: 100%;
    display: inline-block;
    text-align: center;
}
.member-area {
    margin-top: 40px;
    width:100%;
}
.member-area > form > .form-group > input {
    width: 60%;
    display: inline;
}
.signin-textbox {
    width:70%;
}
.member-btn-area {
    text-align: right;
    margin-right: 14%;
}
/* duce 카드 */

.duce-card {
    display: inline-block;
    margin: 8px;
}
.duce-card-img {
    height: 200px;
}

.duce-card-con {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}

.duce-card-con * {
    font-family: 'Noto Sans KR', sans-serif;
}

.duce-card-con > div {
    width: 100%;
    clear: both;
}
.duce-card-con > .category {
    padding-top: 10px;
    height: 30px;
    border-bottom: 1px solid #ededed;
}
.duce-card-con > .category > .major {
    margin-left: 0;
    padding-left: 2%;
    width: 38%;
    color: royalblue;
    float: left;
    display: inline-block;
    height: 100%;
}
.duce-card-con > .category > .branch {
    margin-left: 0;
    width: 25%;
    padding-left: 5%;
    text-align: right;
    float: left;
    display: inline-block;
    height: 100%;
}
.duce-card-con > .category > .year {
    margin-left: 0;
    width: 25%;
    padding-right: 5%;
    float: left;
    display: inline-block;
    height: 100%;
    font-weight: bold;
    text-align: right;
}

.duce-card-con > .title {
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    height: 30px;
}

.duce-card-con > .participant {
    padding-top: 10px;
    text-align: left;
    height: 30px;
}

.duce-card-con > .contents {
    width: 94%;
    height: 90px;
    padding: 10px 3% 15px;
    border-bottom: 1px solid #ededed;
}

.duce-card-con > div {
    width: 100%;
}
.duce-card-con > div > .title {
    margin-left: 0;
    padding-left: 4%;
    width: 16%;
    color: black;
    font-weight: bold;
    float: left;
    display: inline-block;
    height: 100%;
}

.duce-card-con > div > .name {
    margin-left: 0;
    padding-left: 4%;
    text-align: left;
    width: 26%;
    float: left;
    display: inline-block;
    height: 100%;
}

/*페이징*/
.pagination {
    margin-top: 20px;
    display: inline-block;
}

.pagination a {
    color: black;
    font-size: 11px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #6388c3;
    color: white;
    border: 1px solid #6388c3;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/* box slider 커스텀 */
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}

.ap-basic-slider-wrapper .bx-pager-item .bx-pager-link.active:before,
.ap-basic-slider-wrapper .bx-pager-item .bx-pager-link:hover:before {
    background: #fff;
}
/* 캡스톤 프로젝트 뷰 페이지 ( 카테고리 ) */

.nav-project-view-category {
    height: 72px;
    clear: both;
    border-bottom: 1px solid #ededed;
}

.project-view-category:first-child {
    margin-left: 22%;
    border-left: 1px solid #ededed;
}

.project-view-category {
    margin: 0;
    z-index: 5;
    border-right: 1px solid #eded;
    width: 150px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

/* Style The Dropdown Button */
.dropbtn {
    margin: 0;
    width: 100%;
    background-color: white;
    color: black;
    padding: 22px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
    vertical-align: middle;
    text-align: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    margin: 0;
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Noto Sans KR', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ededed;
}
/* FAQ 시작 */
.faq-wrapper {
    margin-top: 20px;
    align-content: left;
}

.faq-question:first-child {
    border-top: 1px solid #ededed;
}
.faq-question {
    clear:both;
    margin-left: 150px;
    padding: 10px;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}
.faq-question:hover { background: #ededed }
.faq-question label {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
    background: #6388c3;
    border-radius: 10px;
    color: white;
}
.faq-question div{
    display: inline-block;
}
.faq-question p {
    font-size: 22px;
    padding-left: 10px;
}
.faq-answer {
    display: none;
    clear: both;
    margin-left: 150px;
    padding: 10px;
    border-bottom: 1px solid #ededed;
}
.faq-answer label {
    display: inline-block;
    font-size: 22px;
    padding: 10px;
    background: #6388c3;
    border-radius: 10px;
    color: white;
}
.faq-answer div {
    display: inline-block;
}
.faq-answer p {
    font-size: 16px;
    padding-left: 10px;
}
.faq-con {
    margin-top: 5px;
    width: 70%;
    margin-left: 150px;
    font-size: 36px;
    text-align: left;
}
.faq-con hr {
    margin-top: 2px;
}

.faq-admin-mod {
    float: right;
}

/*  btn wrapper */

.btn-wrapper {
    height: 32px;
    color: #6388c3;
}

.btn-wrapper * {
    display: inline-block;
    float: right;
}

/* faq wirte */
.faq-write-wrapper {
    padding: 15px 30px 15px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 30px auto;
    display: inline-block;
    font-size: 18px;
    /*background: blueviolet;*/
    width: 100%;
    text-align: right;
}

.faq-write-wrapper * {
    margin-bottom: 15px;
    font-size: 16px;
}

.faq-write-wrapper-header {
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.faq-write-attach-addr {
    text-align: left;
}
.faq-write-attach-addr * {
    display: inline-block;
    margin-bottom: 0px;
}
.faq-write-attach-addr p {
    text-align: right;
}

/* 캡스톤 프로젝트 작성글 */
.project-title-wrapper {
    height: 38px;
    clear: both;
}
.project-title-wrapper input {
    width: 69%;
    display: inline-block;
}

.project-title-wrapper > .form-group {
    width: 15%;
    display: inline-block;
}
/* 캡스톤 교수/학생 */
.project-coop-wrapper input {
    float:left;
    width: 75%;
    display: inline-block;
}
.project-coop-wrapper input:first-child {
    float:left;
    width: 25%;
    display: inline-block;
}

/* 캡스톤 기간 date */
.project-date-wrapper input {
    float:left;
    width: 50%;
    display: inline-block;
}
/* 검색창 */
.search-dialog {
    position: absolute;
    width: 62rem;
    top: 20%;
    left: 35%;
    font-family: 'Noto Serif KR', serif;
}

.mdl-dialog__title {
    font-family: 'Noto Serif KR', serif;
    font-size: 22px;
}

.search-txtbox {
    width:400px;
}
/* 파일 업로드 */
.mdl-button--file input {
    cursor: pointer;
    height: 100%;
    right: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 300px;
    z-index: 4;
}

.mdl-textfield--file .mdl-textfield__input {
    box-sizing: border-box;
    width: calc(100% - 32px);
}
.mdl-textfield--file .mdl-button--file {
    right: 0;
}
/* 캡스톤 페이지 뷰 */
.project-contents-wrapper {
    padding: 15px 30px 15px 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin: 30px auto;
    display: inline-block;
    /*background: blueviolet;*/
    width: 100%;
}
.project-contents-header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: left;
}
.project-contents-header ul {
    width: 100%;
}

.project-contents-header li{
    font-size: 16px;
    display: inline-block;
    text-align: right;
}
.project-contents-header li:first-child{
    text-align: center;
    width: 90%;
    font-size: 22px;
    font-weight: bold;
}

.project-contents-body p{
    text-align: left;
}

.project-contents-attach {
    width: 100%;
    text-align: left;
}
.project-content-attach ul {
    width: 100%;
}
.project-contents-attach  li{
    font-size: 14px;
    display: inline-block;
    text-align: right;
}
.project-contents-attach li:first-child{
    text-align: left;
    width: 10%;
    font-size: 14px;
    font-weight: bold;
}

.project-contents-body-info > div {
    margin-top: 15px;
    margin-bottom: 15px;
    width:50%;
    min-height: 330px;
    float: left;
    display: inline-block;
}

.project-contents-body-info > .wrapper > div {
    width: 100%;
    min-height: 42px;
    clear: both;
}

.project-contents-body-info > .wrapper > div > div{
    width: 50%;
    float: left;
    font-size: 16px;
    display: inline-block;
    text-align: left;
}

.project-contents-body-info > .wrapper > div > div:first-child{
    font-weight: bold;
    text-align: center;
}

.project-contents-image-wrapper {
    clear:both;
    padding: 16px;
}

.project-contents-body {
    clear: both;
}

/* 파일 삭제 div */
.delete-file-wrapper {
    display: inline-block;
    width: 70%;
}
.delete-file {
    display: inline-block;
    padding: 5px;
}
.delete-selected {
    border-radius: 10px;
    border: 1px dotted #888888;
    background: #ededed;
}
.delete-file > p {
    font-size: 12px;
    display: inline-block;
}
/* 관리자 페이지 */
.admin-con {
    font-size: 0;
    min-height: 740px;
}

.admin-title {
    padding-top: 20px;
    width: 70%;
    font-size: 36px;
    text-align: left;
}

.admin-title hr {
    margin-top: 20px;
    background: #ededed;
    margin-bottom: 0;
}

.mypage-tab {
    margin-top: 30px;
    margin-left: 12%;
    width: 250px;
    float: left;
    display: inline-block;
}
.mypage-tab-main:first-child {
    border-top:1px solid #ededed;
}
.mypage-tab-main {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
}
.mypage-tab-sub > a > div {
    text-align: center;
    font-size: 14px;
    width: 250px;
    padding: 10px;
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    background: #fafafa;
}
.mypage-tab-sub > a > div:hover {
    background: #e0e0e0;
    cursor: pointer;
}
.mypage-tab-main:hover {
    background: #ededed;
    cursor: pointer;
}

.mypage-tab .selected {
    background: #ededed;
}

.mypage-tab-sub {
    display: none;
}

.mypage-tab-content {
    width: 70%;
    float: left;
    display: inline-block;
    padding: 30px;
}

/* 슬라이더 수정 */
.slider-btn-info-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}
.slider-btn-info-wrapper input {
    float:left;
    width: 75%;
    display: inline-block;
}
.slider-btn-info-wrapper input:first-child {
    float:left;
    width: 25%;
    display: inline-block;
}

.slide-btn-wrapper > .form-group {
    width:48%;
    display: inline-block;
}

.slider-change-btn-wrapper {
    float:right;
}

.slider-submit-wrapper{
    clear:both;
}

/* 학과 전공 관리 페이지 */
.admin-mb-majortable-wrapper {
    padding: 15px;
    width:40%;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}
.admin-mb-majortable-wrapper p {
    font-size: 24px;
}
.major-add-wrapper {
    padding: 15px;
    width:45%;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}
.major-add-wrapper p {
    font-size: 24px;
}
.admin-mb-branchtable-wrapper {
    padding: 15px;
    width:40%;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}
.admin-mb-branchtable-wrapper p {
    font-size: 24px;
}
.branch-add-wrapper {
    padding: 15px;
    width:45%;
    font-size: 16px;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
}
.branch-add-wrapper p {
    font-size: 24px;
}
/* 기타 */
.none {
    display: none;
}

.fullwidth {
    width: 100%;
}

.admin-member-wraper {
    margin-top: 15px;
    font-size: 0;
}

.member-search-bar {
    padding: 10px;
    clear:both;
}
.member-search-bar > form > div > select {
    width: 20%;
    display: inline-block;
    float:left;
}

.member-search-bar > form > div >  input {
    width: 40%;
    display: inline-block;
    float: left;
}

.member-search-bar > form > button {
    display: inline-block;
    float:left;
    margin: 0;
    padding: 0;
    height: 33px;
    font-weight: lighter;
    background: #6388c3;
    color: white;
}

.member-search-bar > form > button:hover {
    background: #ededed;
    color: black;
}
.member-page-mod-wrapper {
    padding: 15px;
    clear:both;
}
.member-page-mod-wrapper > .pagination {
    float:left;
}
#btnModMember {
    display: inline-block;
    margin-right: 18%;
    float: right;
}

/*
    관리자 패스워드
*/
.form-wrapper {
    margin-top: 15px;
    font-size: 16px;
}

/*
    Material Alert
 */
/* JS CODE CLOSE BOX */
/*$(".close-alert").click(function(e){*/
/*    $(this).parent().remove();*/
/*    e.preventDefault();*/
/*});*/

.alert {
    min-width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
}
.alert-success {
    background-color: #91cf91;
    border-color: #80c780;
    color: #3d8b3d;
}
.alert-warning {
    background-color: #ebc063;
    border-color: #e8b64c;
    color: #a07415;
}
.alert-danger {
    background-color: #e27c79;
    border-color: #dd6864;
    color: #9f2723;
}
.alert p {
    padding: 0;
    margin: 0;
}
.alert i {
    padding-right: 5px;
    vertical-align: middle;
    font-size: 24px;
}
.alert .close-alert {
    -webkit-appearance: none;
    position: relative;
    float: right;
    padding: 0;
    border: 0;
    cursor: pointer;
    color: inherit;
    background: 0 0;
    font-size: 21px;
    line-height: 1;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    filter: alpha(opacity=40);
    opacity: .4;
}
.alert .close-alert:hover {
    filter: alpha(opacity=70);
    opacity: .7;
}

.shadow-1, .alert {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2, .alert:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.alert-box-wrapper {
    font-size: 16px;
    clear: both;
}
/**/

.header-search-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

.header-search-text:focus {
    background-color: lightblue;
}

.close {
    border: inherit;
    color: inherit;
    background: inherit;
}
